<md-list ng-if="!$ctrl.editing">
	<md-subheader>Traductions</md-subheader>
	<md-list-item class="md-2-line">
		<md-icon md-svg-src="dist/assets/icons/flags/fr.svg"></md-icon>
		<div class="md-list-item-text" layout="column">
			<h3>Français</h3>
			<p>{{$ctrl.word.meaning | capitalize}}</p>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-src="dist/assets/icons/flags/jp.svg"></md-icon>
		<div class="md-list-item-text" layout="column">
			<h3>Romaji</h3>
			<p>{{$ctrl.word.romaji}}</p>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-src="dist/assets/icons/flags/jp.svg"></md-icon>
		<div class="md-list-item-text" layout="column">
			<h3>Kana</h3>
			<p>{{$ctrl.word.kana}}</p>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-src="dist/assets/icons/flags/jp.svg"></md-icon>
		<div class="md-list-item-text" layout="column">
			<h3>Kanji</h3>
			<p>{{$ctrl.word.kanji}}</p>
		</div>
	</md-list-item>
	<md-divider></md-divider>
	<md-subheader>Informations</md-subheader>
	<md-list-item class="md-2-line md-long-text">
		<md-icon md-svg-src="dist/assets/icons/av/note.svg"></md-icon>
		<div class="md-list-item-text" layout="column">
			<h3>Notes</h3>
			<p>{{$ctrl.word.notes}}</p>
		</div>
	</md-list-item>
	<md-divider></md-divider>
	<md-subheader>Thèmes</md-subheader>
	<md-list-item class="md-2-line" ng-click="$ctrl.goToThemeDetails(theme.id)" ng-repeat="theme in $ctrl.word.themes">
		<div class="md-list-item-text md-offset" layout="column">
			<h3>{{theme.name}}</h3>
		</div>
	</md-list-item>
</md-list>

<md-list ng-if="$ctrl.editing">
	<md-subheader>Traductions</md-subheader>
	<md-list-item class="md-2-line">
		<md-icon md-svg-src="dist/assets/icons/flags/fr.svg"></md-icon>
		<div class="md-list-item-text" layout="column">
			<md-input-container>
				<label>Français</label>
				<input ng-model="$ctrl.tempWord.meaning">
			</md-input-container>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-src="dist/assets/icons/flags/jp.svg"></md-icon>
		<div class="md-list-item-text" layout="column">
			<md-input-container>
				<label>Romaji</label>
				<input ng-model="$ctrl.tempWord.romaji">
			</md-input-container>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-src="dist/assets/icons/flags/jp.svg"></md-icon>
		<div class="md-list-item-text" layout="column">
			<md-input-container>
				<label>Kana</label>
				<input ng-model="$ctrl.tempWord.kana">
			</md-input-container>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-src="dist/assets/icons/flags/jp.svg"></md-icon>
		<div class="md-list-item-text" layout="column">
			<md-input-container>
				<label>Kanji</label>
				<input ng-model="$ctrl.tempWord.kanji">
			</md-input-container>
		</div>
	</md-list-item>
	<md-divider></md-divider>
	<md-subheader>Informations</md-subheader>
	<md-list-item class="md-2-line md-long-text">
		<md-icon md-svg-src="dist/assets/icons/av/note.svg"></md-icon>
		<div class="md-list-item-text" layout="column">
			<md-input-container>
				<label>Notes</label>
				<textarea ng-model="$ctrl.tempWord.notes"></textarea>
			</md-input-container>
		</div>
	</md-list-item>
	<md-divider></md-divider>
	<md-subheader>Thèmes</md-subheader>
	<md-list-item class="md-2-line">
		<div class="md-list-item-text md-offset" layout="column">
			<md-chips ng-model="$ctrl.tempWord.themes"  md-transform-chip="$ctrl.createChip($chip)" md-require-match="true" md-autocomplete-snap>
				<md-autocomplete md-selected-item="$ctrl.selectedItem" md-search-text="$ctrl.searchText" md-items="theme in $ctrl.searchTheme($ctrl.searchText)" md-item-text="theme.name" placeholder="Search for a theme">
					<span md-highlight-text="$ctrl.searchText">{{theme.name}}</span>
				</md-autocomplete>
				<md-chip-template>
					<span><a ui-sref="theme-detail({themeId: theme.id})">{{$chip.name}}</a></span>
				</md-chip-template>
			</md-chips>
		</div>
	</md-list-item>
</md-list>

<md-button class="md-fab md-fab-bottom-right" aria-label="Edit word" ng-if="!$ctrl.editing" ng-click="$ctrl.edit()">
	<md-icon md-svg-src="dist/assets/icons/editor/mode_edit.svg"></md-icon>
</md-button>

<md-button class="md-fab md-primary md-fab-bottom-right wk-fab-two" aria-label="Cancel editing" ng-if="$ctrl.editing" ng-click="$ctrl.cancelEdit()">
	<md-icon md-svg-src="dist/assets/icons/navigation/close.svg"></md-icon>
</md-button>
<md-button class="md-fab md-fab-bottom-right" aria-label="Save changes" ng-if="$ctrl.editing" ng-click="$ctrl.save()">
	<md-icon md-svg-src="dist/assets/icons/navigation/check.svg"></md-icon>
</md-button>