<md-content layout-padding>
	<form class="search-box" ng-submit="$ctrl.search($ctrl.searchText)" flex>
		<md-autocomplete flex md-input-minlength="3" md-selected-item="$ctrl.selectedItem" md-search-text="$ctrl.searchText" md-items="result in $ctrl.autocomplete($ctrl.searchText)" md-item-text="result.name" md-selected-item-change="$ctrl.onSelectedItemChanged(result)" md-menu-class="autocomplete" placeholder="Search">
			<md-item-template>
				<span class="item-data" md-highlight-text="$ctrl.searchText" md-highlight-flags="i">{{result.name}}</span>
				<span class="item-title">{{$ctrl.translate(result.type)}}</span>
			</md-item-template>
		</md-autocomplete>
	</form>
</md-content>

<ui-view></ui-view>

<!--<md-list>
	<md-subheader>Recent searches</md-subheader>
	<md-list-item ng-repeat="recentWord in $ctrl.recentSearches" ng-click="$ctrl.goToWordDetails(recentWord.id)">
		<div class="md-list-item-text" layout="column">
			<p>{{recentWord.meaning}}</p>
		</div>
	</md-list-item>
</md-list>-->

<md-button class="md-fab md-fab-bottom-right" aria-label="Create new word" ng-click="$ctrl.goToWordCreate()">
	<md-icon md-svg-src="dist/assets/icons/content/add.svg"></md-icon>
</md-button>